{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->

{%block main %}
<div src="{{ session.id }}"></div> <!-- SESSION VARIABLES-->
<img src="{{url_for('static', filename='#UserData/foreandr/profile/profile_pic.jpg')}}" />


<form action="user_profile" method="POST" enctype="multipart/form-data">
    <div class="custom-file">
        <input type="file" class="custom-file-input" name="file" id="file">
        <label class="custom-file-label" for="file">PROFILE PICTURE</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit Button</button>
</form>
{% endblock main %}
