{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->

{%block main %}
  <div>
    {{ message }} <!-- message is a variable-->
  </div>
  <div>
    {{ message2 }} <!-- message is a variable-->
  </div>
    <form action="upload" method="POST" enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" id="file">
            <label class="custom-file-label" for="file">Select FILE</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit Button</button>
    </form>
<script>

</script>
{% endblock main %}
