{% extends "structure.html" %} <!-- INHEREITING FROM STRUCTURE.HTML-->

{%block main %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/user_profile.css') }}">
<!-- SESSION VARIABLES-->



<div id="profile picture">
    <h1>Profile Picture</h1>
    <img src="{{url_for('static', filename='#UserData/foreandr/profile/profile_pic.jpg')}}"  width="200" height="200" />
    <form action="user_profile" method="POST" enctype="multipart/form-data">
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" id="file">
            <label class="custom-file-label" for="file">PROFILE PICTURE</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit Button</button>
    </form>
</div>

<br>
<div id="session_info">

</div>

<br>
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>


<script src="{{ url_for('static', filename='js/user_profile.js') }}"></script>
{% endblock main %}
